<?xml version="1.0" encoding="UTF-8"?>
<Sprites>
    <Sprite Name="sprEvent_Shade_Title_Localized" Cycle="1">
        <Frame Texture="UI\Assets\Textures\UI_Event_ShadesEve_Title_Localized.tex" x0="0" x1="0" x2="1" x3="249" x4="250" x5="250" y0="0" y1="0" y2="1" y3="214" y4="215" y5="215" Stretchy="1" HotspotX="0" HotspotY="0" Duration="1.000" StartColor="white" EndColor="white"/>
    </Sprite>
    <Sprite Name="sprEvent_Winterfest_Frame" Cycle="1">
        <Frame Texture="UI\Assets\Textures\UI_Event_Frame.tex" x0="401" x1="401" x2="401" x3="401" x4="401" x5="787" y0="9" y1="221" y2="313" y3="313" y4="313" y5="416" Stretchy="1" HotspotX="0" HotspotY="0" Duration="1.000" StartColor="white" EndColor="white"/>
    </Sprite>
    <Sprite Name="sprEvent_Shade_Frame" Cycle="1">
        <Frame Texture="UI\Assets\Textures\UI_Event_Frame.tex" x0="5" x1="5" x2="5" x3="5" x4="5" x5="391" y0="14" y1="170" y2="318" y3="318" y4="318" y5="421" Stretchy="1" HotspotX="0" HotspotY="0" Duration="1.000" StartColor="white" EndColor="white"/>
    </Sprite>
	<Sprite Name="UI_CRB_PublicEventsFraming" Cycle="1">
        <Frame Texture="UI\Assets\Textures\UI_PublicEvents.tex" x0="2" x1="73" x2="108" x3="333" x4="371" x5="442" y0="4" y1="143" y2="176" y3="176" y4="176" y5="253" Stretchy="1" HotspotX="0" HotspotY="0" Duration="1.000" StartColor="white" EndColor="white"/>
    </Sprite>
    <Sprite Name="UI_CRB_PublicEventsTitleLeft" Cycle="1">
        <Frame Texture="UI\Assets\Textures\UI_PublicEvents.tex" x0="442" x1="468" x2="526" x3="526" x4="526" x5="546" y0="31" y1="31" y2="31" y3="31" y4="31" y5="57" Stretchy="1" HotspotX="0" HotspotY="0" Duration="1.000" StartColor="white" EndColor="white"/>
    </Sprite>
    <Sprite Name="UI_CRB_PublicEventsTitleRight" Cycle="1">
        <Frame Texture="UI\Assets\Textures\UI_PublicEvents.tex" x0="440" x1="460" x2="516" x3="516" x4="516" x5="544" y0="0" y1="0" y2="0" y3="0" y4="0" y5="26" Stretchy="1" HotspotX="0" HotspotY="0" Duration="1.000" StartColor="white" EndColor="white"/>
    </Sprite>
    <Sprite Name="UI_CRB_PublicEventsBody" Cycle="1">
        <Frame Texture="UI\Assets\Textures\UI_PublicEvents.tex" x0="453" x1="488" x2="504" x3="504" x4="504" x5="542" y0="66" y1="117" y2="118" y3="118" y4="118" y5="166" Stretchy="1" HotspotX="0" HotspotY="0" Duration="1.000" StartColor="white" EndColor="white"/>
    </Sprite>
    <Sprite Name="UI_CRB_PublicEventsIconGeneric" Cycle="1">
        <Frame Texture="UI\Assets\Textures\UI_PublicEvents.tex" x0="547" x1="547" x2="547" x3="547" x4="625" x5="625" y0="0" y1="0" y2="0" y3="0" y4="76" y5="76" Stretchy="1" HotspotX="0" HotspotY="0" Duration="1.000" StartColor="white" EndColor="white"/>
    </Sprite>
</Sprites>
